.idea
.env_docker_compose
.local.env
.aws-deploy.env
.DS_Store
tmp
.devops.json
docker-compose.yml
*.env
tools/schema/.env
postgres-data/
cmd/web-app/static/assets/js/app.bundle.js
cmd/web-app/static/assets/js/app.bundle.js.map
cmd/web-app/static/assets/js/vendors~app.bundle.js
cmd/web-app/static/assets/js/vendors~app.bundle.js.map
