{{ template "../layouts/dtox.html" .}}
{{define "title"}}Thank you{{end}}
{{define "description"}}Cloud-based learning platform that offers safe and
affordable interactive online private teaching and learning.{{end}}
{{define "aboutActive"}}active{{end}}
{{define "style"}}

{{end}}
{{ define "content" }}

<!-- about us -->
<section class="section-lg about pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">Thank You</h2>
      </div>
      <div class="col-lg-12 mb-1">
        <p>Thank you for your interest in our classes. Please check your email for instruction on how to join the free classes.</p>    
      </div>
      <div class="col-lg-12">
        <!-- about video -->
        <!-- <div class="about-video">
          <img class="img-fluid w-100" src="{{ SiteAssetUrl "/dtox/images/about/video-thumb.jpg" }}" alt="video-thumb">
          <a class="venobox play-btn" href="https://www.youtube.com/embed/2yoYxetUrWQ" data-vbtype="iframe"><i class="ti-control-play"></i></a>
        </div> -->
      </div>
      
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{ SiteAssetUrl "/dtox/images/background-shape/green-dot.png" }}" alt="background-shape" class="about-bg-1">
  <img src="{{ SiteAssetUrl "/dtox/images/background-shape/blue-dot.png" }}" alt="background-shape" class="about-bg-2">
  <img src="{{ SiteAssetUrl "/dtox/images/background-shape/green-half-cycle.png" }}" alt="background-shape" class="about-bg-3">
  <img src="{{ SiteAssetUrl "/dtox/images/background-shape/seo-ball-1.png" }}" alt="background-shape" class="about-bg-4">
  <img src="{{ SiteAssetUrl "/dtox/images/background-shape/team-bg-triangle.png" }}" alt="background-shape" class="about-bg-5">
  <img src="{{ SiteAssetUrl "/dtox/images/background-shape/service-half-cycle.png" }}" alt="background-shape" class="about-bg-6">
</section>
<!-- /about us -->

<!-- pricing -->
<section class="section-lg pb-0 pricing" id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Our Pricing</h2>
        <p class="mb-50">Our price is very affordable for online learning.<br/>
            Pay for any of the plans below and send the subject(s) of your choice to 
            <a href="mailto:media@smarthead.com.ng">media@smarthead.com.ng</a>
        </p>
      </div>
      <div class="col-lg-10 mx-auto">
        <div class="row justify-content-center">
          <!-- pricing table -->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div class="rounded text-center pricing-table table-1">
              <h3>One Subject</h3>
              <h1><span>₦</span>5,000</h1>
              <p>Access to our interactive class
                Access to past video lectures
                Email support
                Whatsapp support
              </p>
              <a href="https://paystack.com/pay/remoteschool-1-subject" class="btn pricing-btn">Pay</a>
            </div>
          </div>
          <!-- pricing table -->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div class="rounded text-center pricing-table table-2">
              <h3>Three Subjects</h3>
              <h1><span>₦</span>12,000</h1>
              <p>Access to our interactive class
                Access to past video lectures
                Email support
                Whatsapp support
              </p>
              <a href="https://paystack.com/pay/remoteschool-3-subject" class="btn pricing-btn">Pay</a>
            </div>
          </div>
          <!-- pricing table -->
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
            <div class="rounded text-center pricing-table table-3">
              <h3>Five Subject</h3>
              <h1><span>₦</span>15,000</h1>
              <p>Access to our interactive class
                Access to past video lectures
                Email support
                Whatsapp support
              </p>
              <a href="https://paystack.com/pay/remoteschool-5-subject" class="btn pricing-btn">Pay</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- product -->
<section class="section product" style="background-image: url(images/backgrounds/about-bg.png);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Our Team</h2>
        <p class="mb-5">Smart Head is built on a solid foundation by a team of highly committed partners.</p>
      </div>

      <div class="col-12">
      <div class="team-slider">
        <!-- team-member Anthony-->
        <div class="team-member">
            <div class="d-flex mb-4">
              <div class="mr-3">
                <img class="rounded-circle img-fluid" src="{{ SiteAssetUrl "/images/remote-school-team--xs-Anthony.jpg" }}" alt="team-member">
              </div>
              <div class="align-self-center">
                <h4>Ademu Anthony</h4>
                <h6 class="text-color">Director of IT & Innovation</h6>
              </div>
            </div>
            <p style="text-align: justify;">
              A seasoned Software Engineer who has been consistently praised by clients as competent, 
              committed & hardworking.
              An addicted/perpetual learner with an unquenchable thirst for innovation and technology.
            </p>
          </div>

        <!-- team-member Abakpa-->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid" src="{{ SiteAssetUrl "/images/remote-school-team--xs-Abakpa.jpg" }}" alt="team-member">
            </div>
            <div class="align-self-center">
              <h4>Abakpa Joseph Elachi</h4>
              <h6 class="text-color">Managing Director</h6>
            </div>
          </div>
          <p style="text-align: justify;">
            Mr Abakpa has a Bachelor of Science Honors degree in Physics
            from the University of Agriculture Makurdi Benue State, Nigeria in 2012.
            He has a Diploma in Software Engineering from Global Techs Institute Lagos.
            
          </p>
        </div>
        
        <!-- team-member Afanabere-->
        <div class="team-member">
            <div class="d-flex mb-4">
              <div class="mr-3">
                <img class="rounded-circle img-fluid" src="{{ SiteAssetUrl "/images/remote-school-team--xs-Afanabere.jpg" }}" alt="team-member">
              </div>
              <div class="align-self-center">
                <h4>Afanabere Bernard</h4>
                <h6 class="text-color">Head Teacher</h6>
              </div>
            </div>
            <p style="text-align: justify;">
              Afanabere Bernard Akoshi is a trained educationist with more than a decade of working with students. 
              He is a prolific writer, a teacher, a life coach, and a guest to many seminars and conferences.
            </p>
          </div>
           
        <!-- team-member Raph-->
        <div class="team-member">
            <div class="d-flex mb-4">
              <div class="mr-3">
                <img class="rounded-circle img-fluid" src="{{ SiteAssetUrl "/images/remote-school-team-raphael-xs.jpg" }}" alt="team-member">
              </div>
              <div class="align-self-center">
                <h4>Ikediashi Raphael</h4>
                <h6 class="text-color">Director Of Sales & Marketing</h6>
              </div>
            </div>
            <p style="text-align: justify;">
              I'm Raphael, a software engineer based in Lagos, Nigeria. I enjoy creating things that live on the internet, 
              whether that be websites, applications, or anything in between.        
            </p>
          </div>
          
           <!-- team-member Onoja-->
        <div class="team-member">
            <div class="d-flex mb-4">
              <div class="mr-3">
                <img class="rounded-circle img-fluid" src="{{ SiteAssetUrl "/images/remote-school-team--xs-onoja.jpg" }}" alt="team-member">
              </div>
              <div class="align-self-center">
                <h4>Onoja Emmanuel</h4>
                <h6 class="text-color">Platform</h6>
              </div>
            </div>
            <p style="text-align: justify;">
              An expert in cloud base technologies with MS, MCTS & MCITP in Microsoft Office 365.
              An experience teacher of Information Technology, Computer Science & Data Processing
          </p>
          </div>
      </div>
    </div>
      
      
    </div>
  </div>
  <!-- background image -->
  <img src="{{ SiteAssetUrl "/dtox/images/backgrounds/about-bg.png" }}" alt="background-image" class="img-fluid w-100 about-bg"> 
</section>
<!-- /product -->
{{ end }}
