{{ template "../layouts/dtox.html" .}}
{{define "title"}}Online interactive learning platform{{end}}
{{define "description"}}Cloud-based learning platform that offers safe and
affordable interactive online private teaching and learning.{{end}}
{{define "homeActive"}}active{{end}}
{{define "style"}}

{{end}}
{{ define "content" }}

<!-- hero area -->
<section class="hero-section" data-background="" style='background-image: url({{ SiteAssetUrl "/dtox/images/hero-area/banner-bg.png" }});'>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mb-3">Enjoy world class interactive online classes from the comfort of your home</h1>
        <p class="mb-4">
            Smart Head uses advancement in technology to bring Real Classes to Real Students from Real Teachers
        </p>
      </div>
    </div>

    <div id="free-lessons" class="row">
      <div class="col-md-12 text-center">
          <hr class="mt-5"/>
                      <h2 class="d-none d-md-block mt-5">Register For Our Free Lessons</h2>
                      <p>No commitment required. Get enrolled to join our next free classes and see for yourself</p>
                      <form method="post" data-action="submit->root#getStarted">
                          <div class="form-row">
                              <div class="col-md-3 col-sm-12 mt-3">
                                  <select name="class" required class="form-control" data-target="root.class">
                                      <option value="">Select Class</option>
                                      {{ range $class := .classes }}
                                      <option value="{{ $class.ID }}">{{ $class.Name }}</option>
                                      {{ end }}
                                  </select>
                              </div>
                              <div class="col-md-3 col-sm-12 mt-3">
                                  <input data-target="root.name" name="name" required type="text" class="form-control" placeholder="Full Name">
                              </div>
                              <div class="col-md-3 col-sm-12 mt-3">
                                  <input data-target="root.email" name="email" required type="email" class="form-control" placeholder="Email">
                              </div>
                              <div class="col-md-3 col-sm-12 mt-3">
                                  <input data-target="root.phone" name="phone" required type="text" class="form-control" placeholder="Phone Number">
                              </div>
                          </div>
                          <input type="submit" class="btb btn-danger btn-lg mt-3" value="Register">
                      </form>
                  </div>
  </div>

  </div>
</section>
<!-- /hero-area -->

<!-- marketing -->
<section class="section-lg seo">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid" src="{{ SiteAssetUrl "/images/Online-learning-banner.jpg" }}" alt="form-img">
      </div>
      <div class="col-md-5">
        <h2 class="section-title">100% Teaching and Learning website!</h2>
        <p>There is no need for your child to meet the teacher physically. 
            Our platform creates an online learning environment
           that gives the same experience as physical classroom.</p>
           <p>
            Online education is actually affordable and reliable; with SMARTHEAD you get quality at an affordable price. 
            I am not sure you will want to be in a hurry to return your child to school after the lookdown. 
            SMARTHEAD is a virtual learning platform that provides live, interactive classes for students in secondary schools.
             With as low as eight hundred naira (N1000) per subject in a month you child is already in school. 
            You will spend less while still having control over the content of what your child is exposed to.
          </p>
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid seo-bg" src="{{ SiteAssetUrl "/dtox/images/backgrounds/seo-bg.png" }}" alt="seo-bg">
  <!-- background-shape -->
  <img class="seo-bg-shape-1" src="{{ SiteAssetUrl "/dtox/images/background-shape/seo-ball-1.png" }}" alt="bg-shape">
  <img class="seo-bg-shape-2" src="{{ SiteAssetUrl "/dtox/images/background-shape/seo-half-cycle.png" }}" alt="bg-shape">
  <img class="seo-bg-shape-3" src="{{ SiteAssetUrl "/dtox/images/background-shape/seo-ball-2.png" }}" alt="bg-shape">
</section>
<!-- /marketing -->

<!-- service -->
<section class="section-lg service">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-2 order-md-1">
        <h2 class="section-title">Real teachers, real engagement</h2>
        <p class="mb-4">Students who are not engaged or stretched by their lessons in the classroom – 
            and those who must learn away from the classroom, may not make sufficient progress with 
            traditional online resources.</p>

            <p>Smart Head has a different approach. Our team of qualified, 
                experienced teachers deliver high-quality lessons, live online via the 
                innovative Smart Head Cloud Learning platform.</p>
            
            <p>They work closely with your teachers to plan the additional support that will be 
                right for the learning needs of each student.</p>
      </div>
      <div class="col-md-6 order-1 order-md-2 tx-center">
        <img class="img-fluid" src="{{ SiteAssetUrl "/images/remote-school-teacher-ben.jpeg" }}" style="height: 400px;" alt="service">
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid service-bg" src="{{ SiteAssetUrl "/dtox/images/backgrounds/service-bg.png" }}" alt="service-bg">
  <!-- background shapes -->
  <img class="service-bg-shape-1" src="{{ SiteAssetUrl "/dtox/images/background-shape/service-half-cycle.png" }}" alt="background-shape">
  <img class="service-bg-shape-2" src="{{ SiteAssetUrl "/dtox/images/background-shape/feature-bg-2.png" }}" alt="background-shape">
</section>
<!-- /service -->

<!-- feature -->
<section class="section feature mb-0" id="feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Meet Smart Head</h2>
        <p class="mb-100">
            Smart Head is built to give students the same experience that is associated with 
            physical classes.<br>To achieve this, we abide by the following principles</p>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-star feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Professionalism</h4>
            <p>Smart Head gives great interest and attention to the KNOWLEDGE, 
                SKILL and PRACTICES that teachers must have in order to be effective educators.</p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-medall-alt feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Integrity</h4>
            <p>
                We always follow our MORAL and ETHICAL convictions in doing the right thing at all times. 
                We do what we say and only say what we will do.
            </p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-crown feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Loyalty</h4>
            <p>
                In Smart Head, we pledge ALLEGIANCE to our students for their academic success no matter the cost. 
            </p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-layers-alt feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Excellence</h4>
            <p>
                We believe that good is not enough so we go the extra mile to exceed expectation in order to be OUTSTANDING.
            </p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-cup feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Customer satisfaction</h4>
            <p>
                It is a deliberate and conscious decision, ensuring that our customers get ANSWERS to their QUESTIONS,
                SOLUTIONS to their PROBLEMS and VALUE for their MONEY at all times.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="feature-bg-1" src="{{ SiteAssetUrl "/dtox/images/background-shape/feature-bg-1.png" }}" alt="bg-shape">
  <img class="feature-bg-2" src="{{ SiteAssetUrl "/dtox/images/background-shape/feature-bg-2.png" }}" alt="bg-shape">
</section>
<!-- /feature -->


{{ end }}

{{ define "js-controller"}}root{{ end }}