{{ template "../layouts/dtox.html" .}}
{{define "title"}}About Remote School{{end}}
{{define "description"}}Cloud-based learning platform that offers safe and
affordable interactive online private teaching and learning.{{end}}
{{define "aboutActive"}}active{{end}}
{{define "style"}}

{{end}}
{{ define "content" }}

<!-- about us -->
<section class="section-lg about pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">About us</h2>
      </div>
      <div class="col-lg-12 mb-100">
        <p>Remoteschool.com.ng is a cloud-based learning platform that offers safe and affordable interactive 
          online and home (private tutoring).
          Our platform is designed to help teachers deliver content to learners, by taking advantage of the power of 
          technology and making learning worthwhile, fun and more engaging. It takes the best of what technology has to 
          offer and  deliver effective results for both teachers and students alike.</p>
        <p>This platform was founded by a team of ICT and education experts who have the 21st century 
          skills needed to deliver content and pedagogy. 
          It is a cutting edge technology that assists your child learn with 99% guaranteed satisfaction.</p>
          <p>
          We bring this technology to your doorstep. Your child does not need the presence of a home  teacher to learn.
           With the aid of an internet connection and a laptop or a mobile phone, your child would be paired to a tutor 
           who will have live sessions with your child within an agreed time. That simple? Yes!!! 
           Our team of teachers are experts with more than five(5) years of teaching experience and well disciplined in 
           their area of specialization. 
          </p>
      </div>
      <div class="col-lg-12">
        <!-- about video -->
        <div class="about-video">
        <iframe width="100%" height="750" src="https://www.youtube.com/embed/RnBPyq5Au2I" 
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          {{/* <img class="img-fluid w-100" src="{{ SiteAssetUrl "/dtox/images/about/video-thumb.jpg" }}" alt="video-thumb">
          <a class="venobox play-btn" href="https://youtu.be/embed/ZQqJWsN17HQ" data-vbtype="iframe">
          <i class="ti-control-play"></i></a> */}}

        </div>
      </div>
      
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{ SiteAssetUrl "/dtox/images/background-shape/green-dot.png" }}" alt="background-shape" class="about-bg-1">
  <img src="{{ SiteAssetUrl "/dtox/images/background-shape/blue-dot.png" }}" alt="background-shape" class="about-bg-2">
  <img src="{{ SiteAssetUrl "/dtox/images/background-shape/green-half-cycle.png" }}" alt="background-shape" class="about-bg-3">
  <img src="{{ SiteAssetUrl "/dtox/images/background-shape/seo-ball-1.png" }}" alt="background-shape" class="about-bg-4">
  <img src="{{ SiteAssetUrl "/dtox/images/background-shape/team-bg-triangle.png" }}" alt="background-shape" class="about-bg-5">
  <img src="{{ SiteAssetUrl "/dtox/images/background-shape/service-half-cycle.png" }}" alt="background-shape" class="about-bg-6">
</section>
<!-- /about us -->

<!-- product -->
<section class="section product" style="background-image: url(images/backgrounds/about-bg.png);">
  <!-- background image -->
  <img src="{{ SiteAssetUrl "/dtox/images/backgrounds/about-bg.png" }}" alt="background-image" class="img-fluid w-100 about-bg"> 

  <!-- our vision -->

  <section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-title">Our Vision</h2>
        <p>To be the clear leader in the provision of online school.</p>

        <h2 class="section-title">Our Mission</h2>
        <p>To create educational value for the society through sustainable provision of quality education.</p>
      </div>
      <div class="col-md-6">
        <img src="{{ SiteAssetUrl "/dtox/images/about/vision.png" }}" alt="vision" class="img-fluid w-100">
      </div>
    </div>
  </div>
</section>
<!-- /our vision -->

<!-- clients -->
<!-- <section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Our Clients</h2>
        <ul class="list-inline text-center">
          <li class="list-inline-item mx-5 mb-5"><a href="#"><img src="{{ SiteAssetUrl "/dtox/images/clients-logo/client-1.png" }}" alt="clients-logo" class="img-fluid"></a></li>
          <li class="list-inline-item mx-5 mb-5"><a href="#"><img src="{{ SiteAssetUrl "/dtox/images/clients-logo/client-2.png" }}" alt="clients-logo" class="img-fluid"></a></li>
          <li class="list-inline-item mx-5 mb-5"><a href="#"><img src="{{ SiteAssetUrl "/dtox/images/clients-logo/client-3.png" }}" alt="clients-logo" class="img-fluid"></a></li>
          <li class="list-inline-item mx-5 mb-5"><a href="#"><img src="{{ SiteAssetUrl "/dtox/images/clients-logo/client-4.png" }}" alt="clients-logo" class="img-fluid"></a></li>
          <li class="list-inline-item mx-5 mb-5"><a href="#"><img src="{{ SiteAssetUrl "/dtox/images/clients-logo/client-5.png" }}" alt="clients-logo" class="img-fluid"></a></li>
          <li class="list-inline-item mx-5 mb-5"><a href="#"><img src="{{ SiteAssetUrl "/dtox/images/clients-logo/client-6.png" }}" alt="clients-logo" class="img-fluid"></a></li>
          <li class="list-inline-item mx-5 mb-5"><a href="#"><img src="{{ SiteAssetUrl "/dtox/images/clients-logo/client-7.png" }}" alt="clients-logo" class="img-fluid"></a></li>
          <li class="list-inline-item mx-5 mb-5"><a href="#"><img src="{{ SiteAssetUrl "/dtox/images/clients-logo/client-8.png" }}" alt="clients-logo" class="img-fluid"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section> -->
<!-- /clients -->
</section>
<!-- /product -->
{{ end }}
