{{ template "../layouts/dtox.html" .}}
{{define "title"}}Thank you{{end}}
{{define "description"}}Cloud-based learning platform that offers safe and
affordable interactive online private teaching and learning.{{end}}
{{define "aboutActive"}}active{{end}}
{{define "style"}}

{{end}}
{{ define "content" }}

<!-- about us -->
<section class="section-lg about pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">Thank You</h2>
      </div>
      <div class="col-lg-12 mb-1">
        <p>Thank you for your interest in our classes. Please check your email for instruction on how to join the free classes.</p>
        <p>
          Chat with us on WhatsApp for further assistance.<br/>
          <a href="{{ .whatsAppLink }}" class="btn btn-success">Get Help on Whatsapp</a>
         </p>    
      </div>
      <div class="col-lg-12">
        <!-- about video -->
        <!-- <div class="about-video">
          <img class="img-fluid w-100" src="{{ SiteAssetUrl "/dtox/images/about/video-thumb.jpg" }}" alt="video-thumb">
          <a class="venobox play-btn" href="https://www.youtube.com/embed/2yoYxetUrWQ" data-vbtype="iframe"><i class="ti-control-play"></i></a>
        </div> -->
      </div>
      
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{ SiteAssetUrl "/dtox/images/background-shape/green-dot.png" }}" alt="background-shape" class="about-bg-1">
  <img src="{{ SiteAssetUrl "/dtox/images/background-shape/blue-dot.png" }}" alt="background-shape" class="about-bg-2">
  <img src="{{ SiteAssetUrl "/dtox/images/background-shape/green-half-cycle.png" }}" alt="background-shape" class="about-bg-3">
  <img src="{{ SiteAssetUrl "/dtox/images/background-shape/seo-ball-1.png" }}" alt="background-shape" class="about-bg-4">
  <img src="{{ SiteAssetUrl "/dtox/images/background-shape/team-bg-triangle.png" }}" alt="background-shape" class="about-bg-5">
  <img src="{{ SiteAssetUrl "/dtox/images/background-shape/service-half-cycle.png" }}" alt="background-shape" class="about-bg-6">
</section>
<!-- /about us -->

<!-- pricing -->
<section class="section-lg pb-0 pricing" id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Our Pricing</h2>
        <p class="mb-50">Our price is very affordable for online learning.<br/>
            Pay for any of the plans below and send the subject(s) of your choice to 
            <a href="mailto:remoteschoolonline@gmail.com">remoteschoolonline@gmail.com</a>
        </p>
      </div>
      <div class="col-lg-10 mx-auto">
        <div class="row justify-content-center">
          <!-- pricing table -->
          <div class="col-md-6 mb-5 mb-lg-0">
            <div class="rounded text-center pricing-table table-1">
              <h3>Primary 3 to 5</h3>
              <h1><span>₦</span>5,000</h1>
              <p>
                Access to our interactive class<br/>
                Access to past video lectures<br/>
                Email support<br/>
                Whatsapp support<br/>
              </p>
              <a href="https://paystack.com/pay/remoteschool-primary-school" class="btn pricing-btn">Pay</a>
            </div>
          </div>
          <!-- pricing table -->
          <div class="col-md-6 mb-5 mb-lg-0">
            <div class="rounded text-center pricing-table table-2">
              <h3>Secondary School</h3>
              <h1><span>₦</span>10,000</h1>
              <p>Access to our interactive class<br/>
                Access to past video lectures<br/>
                Email support<br/>
                Whatsapp support
              </p>
              <a href="https://paystack.com/pay/remoteschool-secondary-school" class="btn pricing-btn">Pay</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img class="pricing-bg-shape-1" src="{{ SiteAssetUrl "/dtox/images/background-shape/seo-ball-1.png" }}" alt="background-shape">
  <img class="pricing-bg-shape-2" src="{{ SiteAssetUrl "/dtox/images/background-shape/seo-half-cycle.png" }}" alt="background-shape">
  <img class="pricing-bg-shape-3" src="{{ SiteAssetUrl "/dtox/images/background-shape/team-bg-triangle.png" }}" alt="background-shape">
</section>
<!-- /pricing -->

{{ end }}
